.styled-button {
  padding: 10px 20px; /* Add padding to increase the button size */
  font-size: 16px; /* Increase the font size */
  background-color: color(display-p3 0.671 0.8452 0.7176); /* Add a background color */
  color: color(display-p3 0.225 0.245 0.239); /* Change the text color to white */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Add a pointer cursor on hover */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add a shadow effect */
  transition: 0.3s; /* Add a smooth transition for the hover effect */
  display:inline-block;
  margin: 20px 5px; /* Center the button horizontally with some top margin */
}

.styled-button:hover {
  background-color: color(display-p3 0.4281 0.5339 0.502); /* Darken the background color on hover */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Increase the shadow on hover */
  color: white;
}

.styled-button:disabled {
  background-color: #cccccc;
  color:#666666;
  cursor: not-allowed;
}

#player {
  width: 60%; /* Set the width of the video to 80% of the screen */
  display: block; /* Make the video a block element to center it */
  margin: 0 auto; /* Center the video horizontally */
}

.button-container {
  width: 300px;
  margin:auto;
  text-align: center;
}
#explanation-container {
  width:600px;
  padding: 20px;
  background-color: color(display-p3 0.4281 0.5339 0.502);
  font-family: sans-serif;
  color: white;
  margin:auto;
  display: none;
  position: relative;
}

#info-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none; /* Remove the border */
  background: none; /* Remove the background */
  font-size: 12px;
  cursor: pointer;
  padding-right: 7px;
  padding-top: 5px;
  color: white;
}

#note {
  text-align: center;
  font-family: sans-serif;
  color: gray;
}

#note a {
  font-family: sans-serif;
  color: gray !important; 
}

#feedback-container {
  text-align: right;
}

#helpful-button, #unhelpful-button {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#helpful-button {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNDggNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxwYXRoIGQ9Ik0yIDQyaDhWMThIMnYyNHptNDQtMjJjMC0yLjIxLTEuNzktNC00LTRIMjkuMzdsMS45MS05LjE0Yy4wNC0uMi4wNy0uNDEuMDctLjYzIDAtLjgzLS4zNC0xLjU4LS44OC0yLjEyTDI4LjM0IDIgMTUuMTcgMTUuMTdDMTQuNDUgMTUuOSAxNCAxNi45IDE0IDE4djIwYzAgMi4yMSAxLjc5IDQgNCA0aDE4YzEuNjYgMCAzLjA4LTEuMDEgMy42OC0yLjQ0bDYuMDMtMTQuMUE0IDQgMCAwIDAgNDYgMjR2LTMuODNsLS4wMi0uMDJMNDYgMjB6IiBmaWxsPSIjYzRjNGM0IiBjbGFzcz0iZmlsbC0wMDAwMDAiPjwvcGF0aD48L3N2Zz4=');
}

#unhelpful-button {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNDggNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxwYXRoIGQ9Ik0zMCA2SDEyYy0xLjY2IDAtMy4wOCAxLjAxLTMuNjggMi40NGwtNi4wMyAxNC4xQTQgNCAwIDAgMCAyIDI0djMuODNsLjAyLjAyTDIgMjhjMCAyLjIxIDEuNzkgNCA0IDRoMTIuNjNsLTEuOTEgOS4xNGMtLjA0LjItLjA3LjQxLS4wNy42MyAwIC44My4zNCAxLjU4Ljg4IDIuMTJMMTkuNjYgNDZsMTMuMTctMTMuMTdDMzMuNTUgMzIuMSAzNCAzMS4xIDM0IDMwVjEwYzAtMi4yMS0xLjc5LTQtNC00em04IDB2MjRoOFY2aC04eiIgZmlsbD0iI2M0YzRjNCIgY2xhc3M9ImZpbGwtMDAwMDAwIj48L3BhdGg+PC9zdmc+');
}

#helpful-button:not(.active):hover, #unhelpful-button:not(.active):hover {
    scale: 110%;
}

#helpful-button.active {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNDggNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxwYXRoIGQ9Ik0yIDQyaDhWMThIMnYyNHptNDQtMjJjMC0yLjIxLTEuNzktNC00LTRIMjkuMzdsMS45MS05LjE0Yy4wNC0uMi4wNy0uNDEuMDctLjYzIDAtLjgzLS4zNC0xLjU4LS44OC0yLjEyTDI4LjM0IDIgMTUuMTcgMTUuMTdDMTQuNDUgMTUuOSAxNCAxNi45IDE0IDE4djIwYzAgMi4yMSAxLjc5IDQgNCA0aDE4YzEuNjYgMCAzLjA4LTEuMDEgMy42OC0yLjQ0bDYuMDMtMTQuMUE0IDQgMCAwIDAgNDYgMjR2LTMuODNsLS4wMi0uMDJMNDYgMjB6IiBmaWxsPSIjZmZmZmZmIiBjbGFzcz0iZmlsbC0wMDAwMDAiPjwvcGF0aD48L3N2Zz4=');
}

#unhelpful-button.active {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNDggNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxwYXRoIGQ9Ik0zMCA2SDEyYy0xLjY2IDAtMy4wOCAxLjAxLTMuNjggMi40NGwtNi4wMyAxNC4xQTQgNCAwIDAgMCAyIDI0djMuODNsLjAyLjAyTDIgMjhjMCAyLjIxIDEuNzkgNCA0IDRoMTIuNjNsLTEuOTEgOS4xNGMtLjA0LjItLjA3LjQxLS4wNy42MyAwIC44My4zNCAxLjU4Ljg4IDIuMTJMMTkuNjYgNDZsMTMuMTctMTMuMTdDMzMuNTUgMzIuMSAzNCAzMS4xIDM0IDMwVjEwYzAtMi4yMS0xLjc5LTQtNC00em04IDB2MjRoOFY2aC04eiIgZmlsbD0iI2ZmZmZmZiIgY2xhc3M9ImZpbGwtMDAwMDAwIj48L3BhdGg+PC9zdmc+');
}